<div class="menu-bar">
	<h2>dimski.</h2>
	<div class="menu">
		<a href="/">Home</a>
		<a href="/login">Login</a>
		<a href="/register">Register</a>
		<a href="/dashboard">Dashboard</a>
		<a href="/logout">Logout</a>
	</div>
</div>;
