<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>dimski framework</title>
		<link rel="stylesheet" href="/assets/css/init.css" />
		<link rel="stylesheet" href="/assets/css/index.css" />
	</head>
	<body>
		<div class="wrapper">
			<%- include("./components/menu-bar"); %>
			<div class="profile-page">
				<div class="profile-header">
					<div class="profile-picture"></div>
					<div class="profile-description">
						<div class="username">dimasriat</div>
						<div class="userbio">Hobi saya ngonding cari duit</div>
					</div>
				</div>
				<div class="profile-tweet">
					<div class="tweet">
						<p>Haloooo</p>
					</div>
					<div class="tweet">
						<p>Apa kabarr</p>
					</div>
				</div>
			</div>
			<div class="control-bar">
				<h2>New Tweet</h2>
				<form method="POST" action="/login">
					<textarea
						class="form-control"
						placeholder="tweet"
						name="tweet"
					></textarea>					
					<input class="form-btn" type="submit" value="Tweet" />
				</form>
				<div class="err">Error 1</div>
				<div class="err">Error 1</div>
				<div class="err">Error 1</div>
				<div class="err">Error 1</div>
			</div>
		</div>
	</body>
</html>
