<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>dimski framework</title>
		<link rel="stylesheet" href="/assets/css/init.css" />
		<link rel="stylesheet" href="/assets/css/index.css" />
	</head>
	<body>
		<div class="wrapper">
			<%- include("./components/menu-bar"); %> 
			<div class="landing-page">
				<h1>Landing Page</h1>
				<div>dari Dimas, oleh Dimas, untuk Dimas</div>
			</div>
			<div class="control-bar"></div>
		</div>
	</body>
</html>
