<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>dimski framework</title>
		<link rel="stylesheet" href="/assets/css/init.css" />
		<link rel="stylesheet" href="/assets/css/index.css" />
	</head>
	<body>
		<div class="wrapper">
			<%- include("./components/menu-bar"); %> 
			<div class="landing-page">
				<h1>Register Page</h1>
				<div>dari Dimas, oleh Dimas, untuk Dimas</div>
			</div>
			<div class="control-bar">
				<h2>REGISTER</h2>
				<form method="POST" action="/register">
					<input
						class="form-control"
						type="text"
						name="username"
						placeholder="username"
					/>
					<input
						class="form-control"
						type="email"
						name="email"
						placeholder="email"
					/>
					<input
						class="form-control"
						type="password"
						name="password"
						placeholder="password"
					/>

					<input
						class="form-control"
						type="password"
						name="password2"
						placeholder="password confirmation"
					/>
					<input class="form-btn" type="submit" value="Register" />
				</form>
				<div class="err">Error 1</div>
				<div class="err">Error 1</div>
				<div class="err">Error 1</div>
				<div class="err">Error 1</div>
			</div>
		</div>
	</body>
</html>
